<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/AirIO/AirIO.github.io/releases/download/v0.1/RSSReader-iPhone.6.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://image.coolapk.com/apk_logo/2017/0222/icon-for-131629-o_1b9i590n4gialr51v6c1tt81e30q-uid-326044.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://image.coolapk.com/apk_logo/2017/0222/icon-for-131629-o_1b9i590n4gialr51v6c1tt81e30q-uid-326044.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.encoder.RSSReader</string>
				<key>bundle-version</key>
				<string>3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>RSSReader</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
